@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@700&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color:#242424;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
    transform: .2s linear;
    
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.top-site{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    z-index: 1000;
    background: #db9797;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.top-site .logo{
    font-size: 2.5rem;
    color: #676666;
    font-weight: bolder;
}

.top-site .logo span{
    color: #0071bc;
    font-size: 2.9rem;
}

.top-site .logo .fa-person-cane{
    font-size: 3rem;
    padding-right: .5rem;
    color: #0071bc;
}

.top-site .menu-site a{
    color:#fff;
    font-size: 10px;
    font-size: 1.7rem;
    margin: 0 1rem;
}

.top-site .menu-site a:hover{
    color: #0071bc;
}

.top-site .icons{
    display: flex;
    
}

.top-site .icons i{
    font-size: 2rem;
    padding-right: 2rem;
    color: #676666;
    cursor: pointer;
}

.top-site .icons i:hover{
    color: #0071bc;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 900;
    color: #000;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

main{
    display: block;
    background-color: #fff;
}

.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section.module p{
    margin-bottom: 40px;
}

section.module:last-child{
    margin-bottom: 0;
}

section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
}

section.module.content{
    padding: 40px 0;
    background: #db9797;
}

section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

section.module.parallax:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
}

section.module.parallax .text-gradient{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}


section.module.parallax .text-gradient h1{
    text-transform: uppercase;
    color: transparent;
    background: linear-gradient(to right, #ff00, #0071bc, #242424,  #db9797,  #676666, #000 );
    background-clip: text;
    background-size: 1000%;
    animation: cores 10s linear infinite;
}

@keyframes cores{
    0%{
        background-position: 0 100%;
    }
    50%{
        background-position: 100% 0;
    }
    100%{
        background-position: 0 100%;
    }
}

section.module.parallax-1{
    background-image: url(/assets/imagens/fotofisioterapia01.jpg);
}

section.module.parallax-2{
    background-image: url(/assets/imagens/fotofisioterapia02.jpg);
}

section.module.parallax-3{
    background-image: url(/assets/imagens/fotofisioterapia03.jpg);
}

section.module.parallax h1{
    color: #000;
    text-align: center;
    font-size: 35px;
    z-index: 50;
    text-transform: uppercase;
}

.btn-whatsapp{
    position: fixed;
    bottom: 14px;
    right: 24px;
    z-index: 99;
}

.btn-whatsapp img{
    max-width: 74px;
    transition: transform 0.4s;
}

.btn-whatsapp img:hover{
    transform: scale(1.1);
}

.btn-whatsapp .tooltip-text{
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -144px;
    background-color: #0071bc;
    color: #fff;
    text-align: center;
    padding: 6px;
    border-radius: 8px;
    font-weight: 500;
    opacity: 0;
    transition: opacity 1s;
}

.btn-whatsapp:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
    
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 0;
    gap: 24px;
    background-color: #676666;
    border-top: 1px solid #6766666d;
}

.footer-icons{
    display: flex;
    gap: 10px;
    font-size: 20px;
    
}

.footer-icons i{
    color: #fff;
}

footer p{
    color: #fff;
    text-align: center;
    font-size: 14px;
}






@media (max-width:450px) {
    .top-site .logo{
        font-size: 1.8rem;
        
    }
    .top-site .logo span{
        font-size: 1.8rem;
    }

    .top-site .menu-site{
        display: none;
    }

    .top-site .icons i{
        font-size: 1.8rem;
        margin-left: 1.2rem;
        color: #676666;
    }

    .top-site .icons .fa-user{
        display: none;
    }

    section.module.parallax a.btn{
        width: 130px;
        font-size: 11px;
        padding: 15px 10px;
        
    }

    section.module.content h2{
        font-size: 18px;
    }

    .btn-whatsapp{
        bottom: 18px;
        right: 12px;
    }

    .btn-whatsapp img{
        max-width: 64px;
    }

    .btn-whatsapp .tooltip-text{
        width: 120px;
        top: 2px;
        left: -125px;
    }

    section.module.parallax .text-gradient h1{
        font-size: 24px;
    }
}
