@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@700&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
    transform: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.top-site{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    z-index: 1000;
    background: #db9797;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.top-site .logo{
    font-size: 2.5rem;
    color: #676666;
    font-weight: bolder;
}

.top-site .logo span{
    color: #0071bc;
    font-size: 2.9rem;
}

.top-site .logo .fa-person-cane{
    font-size: 3rem;
    padding-right: .5rem;
    color: #0071bc;
}

.top-site .menu-site a{
    color:#fff;
    font-size: ;
    font-size: 1.7rem;
    margin: 0 1rem;
}

.top-site .menu-site a:hover{
    color: #0071bc;
}

.top-site .icons{
    display: flex;
    
}

.top-site .icons i{
    font-size: 2rem;
    padding-right: 2rem;
    color: #676666;
    cursor: pointer;
}

.top-site .icons i:hover{
    color: #0071bc;
}

.destaque{
    padding: 0;
}

.destaque .slide{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
}

.destaque .slide .content{
    
    width: 40rem;
    text-align: center;
    justify-content: center;
}

.destaque .slide .content h3{
    font-size: 3.2rem;
    line-height: 1.3;
    color: #0071bc;
    padding: 2rem 0;
    animation: sliderAn 1s ease forwards;
}

.destaque .slide .content span{
    color: #fff;
    font-size: 3.8rem;
}

.destaque .slide .content .btn{
    text-transform: uppercase;
    background-color: #db9797;
    color: #fff;
    font-size: 1.3rem;
    font-weight: bolder;
    padding: 12px 20px;
    border-radius: .24rem;
    border: solid 2px #0071bc;
    box-shadow: .25rem .25rem #0071bc;

    transition:  transform 50ms, box-shadow 50ms;

    
}

.destaque .slide .content .btn:active{
    transform: translate(2px, 2px);
    box-shadow: 2px 2px #676666;
}

.destaque .slide .content .btn:hover{
    background-color: #0071bc;
    color: #fff;
    box-shadow: 0.25rem 0.25rem #db9797;
}

.destaque .swiper-slide:active .content{
    display: inline-block;
}

.destaque .swiper-slide:active{
    animation: slideScale 2s linear forwards;
}

@keyframes sliderAn{
    0%{
        transform: translateY(50px);
        opacity: 0;
       
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
       
    }
}

@keyframes slideScale{
    0%{
        transform: scale(1);
       
    }
    100%{
        transform: scale(1.15);
       
    }
}

.swiper-button-prev, .swiper-button-next{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    margin-left: 1.5rem;
    transform: translateY(-50%) rotate(45deg);
}

.swiper-button-prev::after, .swiper-button-next::after{
    font-size: 3.5rem;
    transform: rotate(-45deg);
}

@media (max-width:450px) {
    .top-site .logo{
        font-size: 1.8rem;
        
    }
    .top-site .logo span{
        font-size: 1.5rem;
    }

    .top-site .menu-site{
        display: none;
    }

    .top-site .icons i{
        font-size: 1.8rem;
        margin-left: 1.2rem;
        color: #676666;
    }

    .top-site .icons .fa-user{
        display: none;
    }
}
